/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;